root = true

[*]
charset = utf-8
end_of_line = lf
max_line_length = 80
insert_final_newline = true
trim_trailing_whitespace = true

[*.{c,h}]
indent_size = 4
indent_style = space

# https://mesonbuild.com/Style-guide.html
[{meson.build,meson_options.txt}]
indent_size = 2
indent_style = space
